<h1>Battleship</h1>

<p>{{ message }}</p>

<div class="flex-grid">
	<div class="col" *ngFor="let board of boards">
		<h3>Player: {{ board.player.id }}</h3>
		<table>
			<tr *ngFor="let y of board.tiles">
				<td *ngFor="let x of y" 
					  (click)="action(board, x)"
					  [class.hit]="x.display == 'H'"
					  [class.miss]="x.display == 'M'"
					  [class.ship]="x.isShip && (playerId == board.player.id)">
					{{x.display}}
				</td>
			</tr>
		</table>
		<p *ngIf="winner == board.player.id">Winner!</p>
	</div>
</div>

